#accueil {
  position: relative;
  width: 100%;
  top: 7rem;
}

#accueil main {
  position: absolute;
  top: 46.5rem;
  background-color: #f8f8f8;
  width: 100%;
  border: none;
}
/* Styling header home */
.header-home {
  position: fixed;
  top: 7rem;
  width: 100%;
  background-color: #f8f8f8;
}
.header-home-main-image {
  /* position: fixed; */
  top: 0;
  height: 28rem;
  width: 100%;
}
.header-home-images {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.header-home-images a {
  position: relative;
  overflow: hidden;
}
.header-home-images img {
  width: 20rem;
}
.header-home-images span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 40%;
  text-align: center;
}

/* Styling espace configurateur */
.config-espace {
  background-color: #4d302b;
  color: white;
  width: 80%;
  height: 17rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 11rem 11.4rem auto 10rem;
  padding: 4.1rem;
  overflow: hidden;
}
/* .config-espace::after {
  content: "hello";
  background-color: rgb(125, 175, 63);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  width: 100%;
} */

.config-espace img {
  margin: 2rem auto;
  transition: all 0.2s;
}
.config-espace img.config-icon {
  width: 7rem;
  height: 4.7rem;
}
.config-espace h1 {
  font-size: 3.3rem;
}
.config-espace > span {
  font-size: 27rem;
  font-weight: 700;
  line-height: 1rem;
  color: #7daf3f;
  transform: translate(-78px, 33px) rotate(-17deg);
}

.config-espace:hover {
  background-color: #7daf3f;
}
.config-espace:hover > span {
  color: #4d302b;
}
.config-espace:hover img[src="/icons/arrow-left-line.svg"] {
  transform: translateX(3rem);
}

/* Styling nos réalisations */

.nos-realisations-section {
  margin: 12rem 0 12rem 10rem;
  height: 56rem;
  position: relative;
  background-color: #f8f8f8;
}
.nos-realisations-section h1 {
  color: #1f1f1f;
  margin-bottom: 2.5rem;
}
.nos-realisations-box {
  border: 1px solid #e2e2e2;
  width: 44.4rem;
  height: 42.5rem;
  padding: 3.7rem;
  position: relative;
  z-index: 14;
  background-color: white;
}
.nos-realisations-section:hover .nos-realisations-box {
  background-color: #7daf3f;
  border-color: #7daf3f;
}
.nos-realisations-image {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}
.nos-realisations-image > div > img {
  width: 90.8rem;
  transition: all 0.3s ease-out;
}
.nos-realisations-icon,
.notice-installation-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* transition: all 0.3s ease-in; */
}
.nos-realisations-icon img,
.notice-installation-icon img {
  width: 4.2rem;
}
.nos-realisations-section:hover p,
.nos-realisations-section:hover h2 {
  color: white;
}
.nos-realisations-section:hover .nos-realisations-image div > img {
  transform: scale(1.1);
}
.nos-realisations-section:hover .nos-realisations-icon {
  opacity: 1;
}
.nos-realisations-description p {
  height: 18rem;
  overflow: hidden;
}
.nos-realisations-description h2 {
  color: #1f1f1f;
  margin-bottom: 3rem;
}
.nos-realisations-description p {
  color: #504e4e;
  font: normal normal normal 14px/25px "PT Sans";
}
.nos-realisations-box .arrows {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #e2e2e2;
  background-color: white;
  display: flex;
  align-items: center;
}
.nos-realisations-box .arrows img {
  margin: 1.25rem 1.5rem;
  cursor: pointer;
}
.carousel {
  display: none;
  transition: all 0.5s ease;
}
.carousel .dot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 2px;
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  display: inline-block;
}
.nos-realisations-section:hover .carousel {
  display: block;
  /* visibility: visible; */
}

/* Styling notice installation */
section.notice-installation {
  width: 85%;
  display: grid;
  grid-template-columns: 35.2rem 35.2rem 35.2rem;
  grid-gap: 1.3rem;
  margin: 12rem auto;
}
section.notice-installation div:first-child {
  background-color: #4d302b;
  padding: 6rem 3.4rem;
  height: 35.2rem;
}
section.notice-installation div:first-child h1 {
  color: #7daf3f;
  font-size: 3.3rem;
  line-height: 4.3rem;
  margin-bottom: 3.55rem;
  transition: transform 0.3s;
}
section.notice-installation div:first-child p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  transition: transform 0.3s;
}
section.notice-installation div:first-child {
  color: white;
}
.notice-installation-savoir-plus {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
  transition: transform 0.3s;
  visibility: hidden;
}
.notice-installation-savoir-plus span {
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 3.1rem;
  text-transform: uppercase;
}
.notice-installation-savoir-plus img {
  cursor: pointer;
}
section.notice-installation div:first-child:hover {
  background-color: #7daf3f;
}
section.notice-installation div:first-child:hover h1 {
  color: #4d302b;
}
section.notice-installation div:first-child:hover h1,
section.notice-installation div:first-child:hover p,
section.notice-installation
  div:first-child:hover
  .notice-installation-savoir-plus {
  transform: translateY(-2rem);
}
section.notice-installation
  div:first-child:hover
  .notice-installation-savoir-plus {
  visibility: visible;
}
section.notice-installation div {
  overflow: hidden;
}
.notice-installation-img {
  position: relative;
  overflow: hidden;
}
.notice-installation-img:hover img {
  transform: scale(1.1);
}
.notice-installation-img:hover .notice-installation-icon {
  opacity: 1;
}
section.notice-installation img {
  transition: all 0.2s;
}

/* Styling notre magasin sectio */

section.notre-magasin {
  display: flex;
  overflow: hidden;
}
section.notre-magasin h1 {
  font-size: 3.3rem;
  line-height: 4.3rem;
  margin-left: 3rem;
}
.notre-magasin-description {
  border: 1px solid #e2e2e2;
  background-color: white;
  height: 38.5rem;
  overflow: hidden;
  transform: translate(-169px, 34px);
}
.notre-magasin-p {
  width: 100%;
  background-color: white;
  padding: 3rem 4.4rem;
}
.notre-magasin-description p {
  /* margin: 4.4rem; */
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #6f6c6c;
}
.notre-magasin-description img {
  transition: all 0.3s;
}
.notre-magasin-savoir-plus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4.4rem 0 4.4rem;
  visibility: hidden;
  transition: transform 0.2s;
}
.notre-magasin-savoir-plus span {
  font-size: 1.6rem;
  line-height: 3.1rem;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  color: #7daf3f;
}
.notre-magasin-savoir-plus svg .a {
  fill: white;
}
.notre-magasin-savoir-plus svg .b {
  fill: #7daf3f;
}
.notre-magasin-image {
  min-width: 74.3rem;
  overflow: hidden;
}
.notre-magasin-image img,
.notre-magasin-p {
  transition: transform 0.3s;
}
.notre-magasin:hover .notre-magasin-image img {
  transform: scale(1.13);
}
.notre-magasin:hover .notre-magasin-p {
  transform: translateY(-7rem);
}
.notre-magasin:hover .notre-magasin-savoir-plus {
  transform: translateY(-4rem);
  visibility: visible;
}
.notre-magasin:hover .notre-magasin-description img {
  transform: translateY(-4rem);
}

@media (max-width: 1200px) {
  section.notice-installation {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .nos-realisations-image > div > img {
    width: 74.8rem;
  }
  .notre-magasin-description img {
    width: 53rem;
  }
  .header-home-images img {
    width: 18rem;
  }
  .config-espace {
    margin: 1rem auto;
  }
}
@media (max-width: 1080px) {
  section.notice-installation img:not([src="/icons/arrow-left-line.svg"]) {
    height: 35.2rem;
  }
  .nos-realisations-description p {
    height: 25rem;
  }
}

@media (max-width: 974px) {
  .header-home {
    top: 6rem;
  }
  #accueil main {
    top: 43.5rem;
  }
  .nos-realisations-section {
    height: 41rem;
    margin: 8rem 0 8rem 8rem;
  }
  .nos-realisations-image > div > img {
    width: 65.8rem;
  }
  .nos-realisations-box {
    width: 41.4rem;
    height: 31.5rem;
    padding: 23px;
  }
  .nos-realisations-description h2 {
    margin-bottom: 5px;
  }
  .nos-realisations-description p {
    height: 20rem;
  }
  section.notice-installation {
    margin: 8rem auto;
  }
  section.notice-installation img:not([src="/icons/arrow-left-line.svg"]) {
    height: 31.2rem;
  }
  section.notice-installation div:first-child {
    padding: 20px 30px;
    height: 31.2rem;
  }
  section.notice-installation div:first-child h1 {
    margin-bottom: 2.5rem;
  }
  .notice-installation-savoir-plus {
    margin-top: 5rem;
  }
  .header-home-images img {
    width: 15rem;
  }
  .nos-realisations-box .arrows img {
    margin: 0.5rem 0.5rem;
    transform: scale(0.8);
  }
  .notre-magasin-image img {
    width: 67rem;
  }
  section.notre-magasin h1 {
    margin-left: -3rem;
  }
  .notre-magasin-description {
    height: 31.5rem;
  }
  .notre-magasin-description img {
    width: 42rem;
  }
}

@media (max-width: 758px) {
  .header-home-main-image {
    height: 25rem;
  }
  #accueil main {
    top: 38rem;
  }
  .nos-realisations-image > div > img {
    width: 55.8rem;
  }
  .nos-realisations-box .arrows img {
    margin: 0;
  }
  .carousel .dot {
    height: 8px;
    width: 8px;
  }
  .header-home-images img {
    width: 13rem;
  }
  .config-espace {
    grid-template-columns: 9rem 9rem auto 9rem;
    padding: 2rem;
    height: 13rem;
  }
  .config-espace h1 {
    font-size: 2.6rem;
  }
  .config-espace > span {
    font-size: 22rem;
    transform: translate(-33px, 59px) rotate(-17deg);
  }
  .config-espace img.config-icon {
    width: 6rem;
    margin-left: 0;
  }
  .notre-magasin-image {
    min-width: 67.3rem;
  }
  .notre-magasin-image img {
    width: 60rem;
  }
  .notre-magasin-description {
    height: 27.5rem;
    transform: translate(-169px, 19px);
  }
  .notre-magasin-p {
    padding: 1.5rem 2.4rem;
  }
  .notre-magasin-savoir-plus {
    margin: 0 2.4rem 0 2.4rem;
  }
  section.notice-installation img:not([src="/icons/arrow-left-line.svg"]) {
    height: 27rem;
  }
  section.notice-installation div:first-child {
    padding: 24px 21px;
    height: 27rem;
  }
  section.notice-installation div:first-child h1 {
    font-size: 2.5rem;
    line-height: 3.3rem;
  }
  section.notice-installation div:first-child p {
    line-height: 2rem;
  }
  .notice-installation-savoir-plus span,
  .notre-magasin-savoir-plus span {
    font-size: 1.4rem;
  }
  .notice-installation-savoir-plus img,
  .notre-magasin-savoir-plus svg {
    width: 2rem;
  }
  .nos-realisations-icon img,
  .notice-installation-icon img {
    width: 3.2rem;
  }
  section.notre-magasin h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 674px) {
  .header-home-images img {
    width: 11.5rem;
  }
  .nos-realisations-image > div > img {
    width: 47rem;
  }
  .nos-realisations-box {
    width: 35.4rem;
    height: 31.5rem;
    padding: 23px;
  }
  .nos-realisations-description p {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .nos-realisations-section {
    margin: 8rem 0 4rem 8rem;
  }
  section.notice-installation {
    margin: 4rem auto 8rem;
  }
  .notre-magasin-image img {
    width: 54rem;
  }
  .notre-magasin-description {
    transform: translate(-270px, 19px);
  }
  section.notre-magasin h1 {
    transform: translate(-59px, 0px);
  }
  .notice-installation-savoir-plus {
    margin-top: 3rem;
  }
  .config-espace {
    margin: 0rem auto;
    height: 11rem;
  }
  .config-espace {
    grid-template-columns: 7rem 8rem auto 8rem;
    padding: 1rem;
  }
  .config-espace img.config-icon {
    width: 5rem;
  }
  .config-espace h1 {
    font-size: 2.2rem;
  }
  .config-espace p {
    font-size: 1.5rem;
  }
}

@media (max-width: 530px) {
  .header-home-images,
  .config-espace {
    width: 87%;
  }
  .nos-realisations-section {
    margin: 5rem 0 4rem 5rem;
    height: 40rem;
  }
  .nos-realisations-image > div > img {
    width: 40rem;
  }
  section.notice-installation {
    margin: 4rem auto 5rem;
  }
  section.notice-installation img:not([src="/icons/arrow-left-line.svg"]) {
    height: 22rem;
  }
  section.notice-installation div:first-child {
    padding: 12px 10px;
    height: 22rem;
  }
  section.notice-installation div:first-child h1 {
    margin-bottom: 1.5rem;
  }
  .notice-installation-savoir-plus {
    margin-top: 2rem;
    visibility: visible;
  }
  section.notice-installation div:first-child h1 {
    font-size: 2rem;
    line-height: 2.7rem;
  }
  section.notice-installation div:first-child:hover h1,
  section.notice-installation div:first-child:hover p,
  section.notice-installation
    div:first-child:hover
    .notice-installation-savoir-plus {
    transform: translateY(0rem);
  }
  .notre-magasin:hover .notre-magasin-image img {
    transform: scale(1);
  }
}
@media (max-width: 490px) {
  .header-home-images,
  .config-espace {
    width: 95%;
  }
}

@media (max-width: 450px) {
  .nos-realisations-image {
    top: 4rem;
  }
  .nos-realisations-box {
    width: 31rem;
    padding: 14px;
    position: absolute;
    top: 10rem;
  }
  .nos-realisations-box .arrows img {
    transform: scale(0.55);
  }
  section.notice-installation img:not([src="/icons/arrow-left-line.svg"]),
  section.notice-installation div:first-child {
    height: 16rem;
  }
  section.notice-installation div:first-child {
    padding: 5px 5px;
  }
  section.notice-installation div:first-child h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  section.notice-installation div:first-child p {
    line-height: 1.8rem;
    font-size: 1.3rem;
  }
  .notice-installation-savoir-plus {
    margin-top: 0.5rem;
  }
  .notice-installation-savoir-plus span,
  .notre-magasin-savoir-plus span {
    font-size: 1.2rem;
  }
  .notre-magasin-image img {
    width: 44rem;
  }
  section.notre-magasin {
    height: 36rem;
  }
  .notre-magasin-description {
    transform: translate(-362px, 30px);
  }
  section.notre-magasin h1 {
    transform: translate(-139px, 8px);
    font-size: 2rem;
  }
  .nos-realisations-section {
    margin: 3rem 0 4rem 4rem;
    height: 40rem;
  }
  .nav-bar li.configurateur .img2,
  .nav-bar .notre-magasin .img2 {
    display: none;
  }
  .nav-bar li.configurateur img {
    transform: scale(1) translateX(-5px);
  }
}
