#boutique {
  position: absolute;
  width: 100%;
  background-color: #f8f8f8;
  /* display: flex;
  justify-content: space-between; */
}
.boutique-header {
  height: 24rem;
  width: 100%;
  background-image: linear-gradient(
    rgba(48, 19, 19, 0.8),
    rgba(48, 19, 19, 0.8)
  );
  overflow: hidden;
}
.boutique-header img {
  filter: brightness(0.6);
}
.boutique-header h1 {
  color: #7daf3f;
  font-size: 4.7rem;
  line-height: 6.1rem;
  position: absolute;
  top: 13.8rem;
  z-index: 10;
  margin-left: 10rem;
}
.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main.boutique-main {
  width: 80%;
  margin: 2rem auto;
  display: flex;
}
aside.boutique-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 89rem;
}
aside .boutique-aside-1 {
  width: 26rem;
  height: 36.9rem;
  border: 1px solid #e2e2e2;
  background-color: white;
}

aside .boutique-aside-1 li {
  border: 1px solid #f1eeee;
  height: 6rem;
  padding: 2rem 3rem;
}
aside .boutique-aside-1 h2 {
  height: 7rem;
  font-size: 2rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  padding: 2rem 3rem;
}

aside .boutique-aside-2 {
  width: 26rem;
  height: 47.8rem;
  background-image: linear-gradient(
    to bottom,
    rgb(77, 48, 43),
    rgb(101, 61, 54)
  );
  overflow: hidden;
  color: white;
  padding: 3rem 2rem;
  position: relative;
}
aside .boutique-aside-2 span {
  display: block;
  font-size: 27rem;
  font-weight: 700;
  color: #7daf3f;
  transform: translate(-69px, -41px) rotate(-15deg);
}
aside .boutique-aside-2 h3 {
  font-size: 2rem;
  line-height: 2.6rem;
  margin: 2rem 0;
}
aside .boutique-aside-2 img.arrow {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
@media (max-width: 974px) {
  main.boutique-main {
    width: 83%;
  }
  aside.boutique-aside {
    max-height: 79rem;
    width: 22rem;
  }
  aside .boutique-aside-1 li {
    border: 1px solid #f1eeee;
    height: 5rem;
    padding: 1.5rem 3rem;
  }
  aside .boutique-aside-1 h2 {
    height: 6rem;
    font-size: 1.9rem;
  }
  aside .boutique-aside-1 {
    width: 22rem;
    height: 30.9rem;
  }
  aside .boutique-aside-2 {
    width: 22rem;
    height: 44.8rem;
  }
}

@media (max-width: 530px) {
  .boutique-header h1 {
    font-size: 3rem;
    margin-left: 8rem;
  }
  main.boutique-main {
    width: 87%;
  }
  aside.boutique-aside,
  aside .boutique-aside-1,
  aside .boutique-aside-2 {
    width: 18rem;
  }
  aside .boutique-aside-2 img.arrow {
    transform: scale(0.5);
  }
}
@media (max-width: 450px) {
  main.boutique-main {
    width: 95%;
  }
  aside.boutique-aside,
  aside .boutique-aside-1,
  aside .boutique-aside-2 {
    width: 14rem;
  }
  aside .boutique-aside-1 {
    height: 27.9rem;
  }
  aside .boutique-aside-1 h2 {
    line-height: 1.2rem;
    height: 5rem;
    font-size: 1.5rem;
    padding: 2rem 1.3rem;
  }
  aside .boutique-aside-1 li {
    border: 1px solid #f1eeee;
    height: 4.5rem;
    padding: 1.3rem 1rem;
  }
  aside.boutique-aside {
    max-height: 75rem;
  }
  .boutique-header h1 {
    font-size: 3rem;
    margin-left: 3rem;
  }
}
