.footer {
  background-color: white;
  width: 100%;
  margin-top: 15rem;
}
.footer-main {
  width: 85%;
  height: 30.7rem;
  margin: 0 auto;
  padding-top: 5rem;
  border-top: 1rem solid #7daf3f;
  display: flex;
  overflow: hidden;
}
.footer-logo {
  width: 50rem;
  padding: 0;
  transform: scale(1.5) translate(-15px, 17px);
}
.footer-description {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.footer-description h3 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-bottom: 2rem;
}
.footer-description li {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #6f6c6c;
  margin-bottom: 2rem;
}
@media (max-width: 1200px) {
  .footer-logo {
    width: 50rem;
    padding: 0;
    transform: scale(1.2) translate(-15px, -2px);
  }
}

@media (max-width: 974px) {
  .footer-main {
    border-top: 0.6rem solid #7daf3f;
  }
}
